:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
  --Gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

* {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Overpass", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--VeryDarkBlue);
  padding: 0 1rem;
}

.rating-card {
  background: var(--Gradient);
  border-radius: 1.875rem;
  max-width: 25.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  visibility: visible;
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 100%;
  background: var(--DarkBlue);
}

.heading {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  color: var(--White);
  margin-top: 1.875rem;
}

.paragraph {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 160%;
  color: var(--LightGrey);
  margin-top: 0.4375rem;
  margin-bottom: 1.5rem;
}

fieldset {
  padding: 0;
  border: 0;
  display: flex;
  gap: 1.375rem;
  margin-bottom: 2rem;
}

.form-control {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: var(--MediumGrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 42%;
  z-index: 999;
}

.radio-container {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 3.1875em;
  height: 3.1875em;
  border: 0;
  border-radius: 50%;
  background: var(--DarkBlue);
  transition: all 0.3s;
  cursor: pointer;
  display: grid;
  place-content: center;
}

@media screen and (max-width: 26.5625rem) {
  input[type="radio"] {
    width: 2.625em;
    height: 2.625em;
  }

  input[type="radio"]::before {
    width: 2.625em;
    height: 2.625em;
    transform: scale(0.8);
    box-shadow: inset 2em 1em var(--MediumGrey);
  }
}

input[type="radio"]::before {
  content: "";
  width: 3.1875em;
  height: 3.1875em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 4em 1em var(--MediumGrey);
  background-color: CanvasText;
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:checked + label {
  color: var(--White);
}

input[type="radio"]:hover {
  background: var(--Orange);
}

.radio-container label {
  transition: color 0.1s;
  pointer-events: none;
}

.radio-container:hover label {
  color: var(--White);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.error-message {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  text-align: center;
  color: red;
  display: none;
  position: absolute;
  top: -17px;
}

.btn-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn {
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.1875;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--White);
  background: var(--Orange);
  border-radius: 1.40625rem;
  border: none;
  padding: 0.85rem 0.6875em 0.6875em;
  transition: all 0.5s;
}

.btn:hover {
  color: var(--Orange);
  background: var(--White);
}

.thanks-card {
  background: var(--Gradient);
  border-radius: 1.875rem;
  max-width: 25.75rem;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}

.thanks-card .paragraph {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.rate-container {
  margin-top: 2rem;
  padding: 0.25rem 1.25rem;
  background: var(--DarkBlue);
  border-radius: 1.40625rem;
}

.rated-p {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 160%;
  text-align: center;
  color: var(--Orange);
}
